@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Atualização de Git para Azure!!!</h1>
    <a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a>
</div>
